
body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

.flex {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: pink;
}

p {
    margin-top: 30px;
}

.ice-cream {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.ice-cream-item {
    position: relative;
}

.ice-cream-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px ;
}

.ice-cream-item:hover .overlay {
    opacity: 1;
}
