/* Structure */
body {
    background: violet;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background: white;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px solid green;
}

/* Typegraphy */

h1 {
    color:red;
}


p {
    color: blue;
}