/* Structure */
body {
    background: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background: white;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px solid green;
}
/* Navigation */
#main-nav ul {
    padding-left: 0;
    width: fit-content;
    margin: auto;
}

#main-nav li {
    list-style-type: none; /* No bullets */
    display: inline-block; /* Appear on one line*/
   
}
#main-nav a {
    text-decoration: none; /* No underline */
    background: pink;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: black;
    
}

/* Typegraphy */

h1 {
    color:red;
}


p {
    color: blue;
}