body {
    background-color: lightslategray;
}

h1, h2 {
    text-align: center;
}

.columns div {
    background-color: #dae3f3;
    margin: 50px;
    border-radius: 5px;
    padding: 100px;
}

.columns img {
    display: block;
    margin: 0 auto;
}

#slide {
    position: relative;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 760px) {
    .columns {
        display: flex;
    }

    .ome {
        flex: 1;
    }

    .columns div {
        margin-left: 132px;
        margin-right: 132px;
    }
}