body{
   background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darksalmon;
    text-align: center;
}
.assign{
    display: flex;
    margin: 10px;
    padding: 10px;
    background: darkkhaki;
}
.assign img{
    width: 200px;
    padding: 10px;
}