body{
   background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}
h1{
    color: midnightblue;
    text-align: center;
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
.assign{
    display: flex;
    margin: 10px;
    padding: 10px;
    background: slategray;
    border-radius: 20px;
    width: 20%;
    box-shadow: 8px 8px black;
    display: block; 
}
.assign img{
    width: 200px;
    padding: 10px;
    border: 2px solid lavender;
}
.assign img {
    width: 200px;
    margin: 10px;
    border: 2px dotted black;
}
