body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
  
}


.back {
    padding: 30px;
    border-radius: 10px;
    width: 450px;
}


h1, h2 {
    text-align: center;
    color: black; 
    margin-bottom: 5px;
}

.control {
    background-color: lightblue;
    height: 400px;
    width: 450px;
 
}
.control label {
    color: white;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    width: 60px;
    text-align: center;
}


canvas {
    display: block;
    background-color: black; 
    border: 2px solid white; 
    margin-left: auto;
    margin-right: auto;
}


.err-mess {
    color: red;
    font-size: 14px;
    visibility: hidden;
}


footer {
    margin-top: 15px;
    text-align: center;
    color: black;
}
