/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f0d5;
   }

   header h1 {
    color: #a4bfb8;
   }
   
   h2 {
    color: white;
   }
 
  aside a {
    color: white;
  }

   p {
    color: white;
   }

   article {
    background-color: #f2f0d5;
   }

   article h2 {
    color: #a4bfb8;
   }

   article p {
    color: #a4bfb8;
   }

   #middle h2 {
    text-align: center;
   }

   #main-header h1 {
    text-align: center;
   }
   
   #content {
       width: 95%;
       margin: auto;
       background: #FFFFFF;
       border-radius: 5px;
       background-color: #a4bfb8;
   }
   
   #main-aside {
       background: #d98282;
       list-style-type: none;
      
   }
   
   #main-aside li {
    color: white;
   }

   #middle section {
       margin: 10px;
       padding: 5px;
   }
   
   #main-header {
       background-color: #f2f0d5;
       border-radius: 5px;
   }
   
   
   #main-footer {
       background: #f2f0d5;
   }

   /* Navigation */
   #main-nav ul {
       padding-left: 0;
   }
   
 
   #middle article section h2 {
    text-align: left;
   }

   #middle article h2 {
    text-align: left;
   }

   #middle section img {
    display: block;
    margin: auto;
   }

   #main-nav li {
       list-style: none;
       border-radius: 1px solid pink;
       flex: 1;
       color: white;
   }

   #middle article section img {
   display: inline;
   margin: auto;
   }

   #middle article section h2 {
    display: inline;

    }
   
   #main-nav a {
       text-decoration: none;
       padding: 5px;
       background: #d98282;
       color: white;
       display: block;
   }
   
   /* Typegraphy */
   #main-footer p {
       text-align: center;
   }
   
   /* Media quaries */
   
   @Media only screen and (min-width:600px) {
       .columns {
           display: flex;
          
       }
       .ulstyle {
        display: flex;
        text-align: center;
        list-style: none;
       }
       .one {
           flex: 1;
       }
       .two {
           flex: 2;
       }
   }
   @Media only screen and (min-width:760px) {
    
   }

   @media (min-width: 900px) {
        #main-nav ul, 
        .flex-container {
            display: flex;
        }

        .col1of2,
        .col1of3,
        .col1of4 {
            flex: 1;
        }
        .col2of3 {
            flex: 2;
        }
   }
   