
body {
    background: #7E6960;
    font-family: Arial, Helvetica, sans-serif;
}

#main-nav a {
    text-decoration: none;
    color: #C8E9F9;
    
}

h1 {
    color: #C8E9F9;
}

h2 {
    color: #C8E9F9;
}

p {
    color: #A68A68;
}