
body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
}

#content section{
    background-color: #dae3f3;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

#content section img{
    display: inline;
    margin: 0 auto;
}