
body {
    background: #C8E9F9;
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    background: white;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
  
}

#main-nav a {
    text-decoration: none;
    color: #D9D9D9;
    
}

h1 {
    color: #D9C1B4;
}

h2 {
    color:#D9C1B4;
}

p {
    color: #D9C1B4;
}