
body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
}

#content section{
    background-color: #dae3f3;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

#content section img{
    display: inline;
    margin: 0 auto;
}


#content a {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

@media (min-width: 760px) {
   .columns {
    display: inline;
   }

   .item{
    flex: 1;
   }
    }