body {
    background: #3E4001;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/AvocadoGreen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main-nav ul {
    padding-left: 0;
    width: fit-content;
    margin: auto;
}

#main-nav li {
    list-style-type: none; 
    display: inline-block; 
}
#main-nav a {
    text-decoration: none; 
    background: #F2E5A0;
    color: #A65424;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: #B1BF49;
    
}


h1 {
    color:#F2E5A0;
}


p {
    color: #F2E5A0;
}

h2 {
    color: #F2E5A0;
}

table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5A0;
}
th,
td {
    border: 1px solid black;
    padding: 4px;
}

th {
    background: #A65424;
}